<div class="row">
  <% @series.each do |serie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="<%= serie.picture_url %>" alt="<%= serie.title %>"/>
      <div class="caption">
        <h4><%= serie.title %></h4>
      </div>
    </div>
  </div>
  <% end %>
</div>

