<section class="content">
<div class="container">
  <div class="row">
    <% @series.each do |serie| %>
      <img src="<%= serie.picture_url %>" alt=""/>
      <div class="bann_title"><%= serie.title %></div>
    <% end %>
  </div>
</div>
</section>
