<table id="search-series" class="table table-striped">
  <tr>
    <th></th>
    <th>Title</th>
    <th></th>
  </tr>
  <% @series.each do |serie| %>
    <tr>
      <td><img class="serie-thumbnail" src="<%= serie.picture_url %>"/></td>
      <td><%= serie[:title] %></td>
      <td>
	<%= link_to "Track", track_series_path(serie[:show_id]), method: :post %>
      </td>
    </tr>
  <% end %>
</table>
